@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.mutedColor{
  color: rgba(73, 73, 73, 0.60);
}

.subColor{
  color: $sub-main-color;
}

.dark-color{
  color: $dark-color;
}

.sub-dark-bg{
  background: $sub-dark-bg;
}

.pointer{
  cursor: pointer;
}

img{
}


.active {
  background-color: #0092471A;
  border-left: 4px solid $sub-main-color;

  .ps-menu-label {
    color: white !important;
  }
}

.Auth-container {
  background: url('../assets/images/main-BackGround.jpeg') no-repeat;
  background-size: 100% 100%;


  .bg-overlay {
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.4), rgba(47, 140, 51, 0.7));
  }

  p {
    color: $soft-color;
    font-weight: 400;
  }

  a {
    all: unset;
    cursor: pointer;
  }

  .input-con {
    background-color: $dark-bg;
    border-radius: 8px;
    border: unset;
    padding: 12px;
    margin-top: 25px;


    i {
      font-size: 21px;
      color: $input-con-color;
      padding: 2px;
      border-right: 1px solid $input-con-color;
    }

    input::-webkit-input-placeholder {
      color: $input-con-color ;
    }

    .show {
      border-right: unset;
      cursor: pointer;
    }

  }


  .form-control {
    all: unset;
  }

  .forget {
    color: $main-color;
  }

  button {
    background-color: $main-color;
  }
}




.sidebar-container {

  aside {
    background-color: #1f263d;
    border-radius: 0px 58px 0px 0px;


    .ps-sidebar-container {
      background-color: unset;

      .ps-menu-label {
        color: rgba(255, 255, 255, 0.65);
        
      }


      .ps-menu-button:hover {
        background-color: unset;
      }

      .link {

        .ps-menu-button:hover {
          background-color: $sub-main-color;

          .ps-menu-label {
            color: white !important;
          }
        }
      }

    }
  }
}

nav{
  .notification{
    position: relative;
    
    span{
      position: absolute;
      top: 0px;
      right: -2px;
      background-color: red;
      color: white;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
    }
  }
}

header{

  &{
    background-image: url('../assets/images/header-bg.svg'),linear-gradient(to right , rgb(21 128 61),#009247);
    background-size: cover;
  }

}



  .dataGrid{
    background-color: white;

    .MuiDataGrid-toolbarContainer{
      flex-direction: row-reverse;
    }
  }



