// BG
$dark-bg: #F7F7F7;
$sub-dark-bg:#F0FFEF;


// TEXT
$main-color: #4AA35A;
$sub-main-color:#009247;
$soft-color:#49494999;
$dark-color:#1F263E;
$input-con-color:#8391A1;

// // BG
// $main-bg: #2a3447;
// $soft-bg: #384256;

// $main-color: white;
// $soft-color: #ddd;
// $dark-color: #2a3447;